@use "@/common/styles/variables" as *;

.pageContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.noResults {
  padding: 32px 0;
}

.footerButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
