@use "src/styles/variables.scss" as *;

.tooltip {
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: $text-primary;
  color: $white;
  padding: $spacing-sm $spacing-md;
  border-radius: $border-radius-sm;
  font-size: $font-size-small;
  max-width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  pointer-events: none; // Allows clicking through
  opacity: 0.95;
  word-wrap: break-word;
  animation: fade-in 0.2s ease-in;
  left: var(--x);
  top: var(--y);

  &::before {
    content: "";
    position: absolute;
    border: 8px solid transparent;
  }

  &.top {
    transform: translate(-50%, calc(-100% - 8px));

    &::before {
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      border-top-color: $text-primary;
    }
  }

  &.bottom {
    transform: translate(-50%, calc(8px));

    &::before {
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      border-bottom-color: $text-primary;
    }
  }

  &.left {
    transform: translate(calc(-100% - 8px), -50%);

    &::before {
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      border-left-color: $text-primary;
    }
  }

  &.right {
    transform: translate(8px, -50%);

    &::before {
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      border-right-color: $text-primary;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.95;
  }
}
