@use "../../styles/variables" as *;

.content {
  h1 {
    margin-bottom: $spacing-lg;
    color: $primary-color;
    text-align: center;
  }
}

.projectsWrapper {
  background-color: $background-primary;
  border-radius: $border-radius-md;
  padding: $spacing-lg;
  box-shadow: $shadow-sm;
}
