@use "@/common/styles/variables" as *;

.columnHeader {
  padding: $spacing-xs $spacing-sm;
  background-color: rgba($primary-color, 0.05);
  border-radius: $border-radius-sm;
  margin-bottom: $spacing-sm;
}

.titleContainer {
  width: auto;
}

.icon {
  color: $primary-color;
}

.title {
  font-weight: $font-weight-medium;
}

.actions > * + * {
  margin-left: $spacing-xs;
}
