@use "@/common/styles/variables" as *;

.tooltip {
  position: fixed;
  left: var(--x);
  top: var(--y);
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: $background-primary;
  border-radius: $border-radius-sm;
  box-shadow: $shadow-sm;
  padding: $spacing-xs;
  pointer-events: auto; /* Important for allowing tooltip content to be clicked */
  max-width: 300px;
  border: 1px solid $border-color;

  // Position modifiers
  &.top {
    transform: translate(-50%, calc(-100% - #{$spacing-md}));

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 6px;
      border-style: solid;
      border-color: $background-primary transparent transparent transparent;
    }
  }

  &.right {
    transform: translate($spacing-md, -50%);

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: -6px;
      transform: translateY(-50%);
      border-width: 6px;
      border-style: solid;
      border-color: transparent $background-primary transparent transparent;
    }
  }

  &.bottom {
    transform: translate(-50%, $spacing-md);

    &:after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 6px;
      border-style: solid;
      border-color: transparent transparent $background-primary transparent;
    }
  }

  &.left {
    transform: translate(calc(-100% - #{$spacing-md}), -50%);

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: -6px;
      transform: translateY(-50%);
      border-width: 6px;
      border-style: solid;
      border-color: transparent transparent transparent $background-primary;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.95;
  }
}
